In [1]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Ahinsa\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

Preprocessing Functions

In [22]:
#Removes HTML data
def remove_html(data):
    data = data.replace('html', ' ')
    html_tag=re.compile(r'<.*?>')
    data=html_tag.sub(r' ',data)
    return data

#Removes URL data
def remove_url(data):
    url_clean= re.compile(r"https://\S+|www\.\S+")
    data=url_clean.sub(r' ',data)
    return data

#Removes Punctuations
def remove_punctuations(data):
    punct_tag=re.compile(r'[^\w\s]')
    data=punct_tag.sub(r' ',data)
    return data

#Removes Emojis
def remove_emoji(data):
    emoji_clean= re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    data=emoji_clean.sub(r' ',data)
    url_clean= re.compile(r"https://\S+|www\.\S+")
    data=url_clean.sub(r' ',data)
    return data


def white_space(data):
    return ' '.join(data.split())

"as a" dataset

In [23]:
data_path = 'dataset/as_a.csv'
df1= pd.read_csv(data_path)
df1.head()

,Unnamed: 0,Unnamed: 0.1,issuekey,title,description,storypoint,project
0,21,21,TISTUD-64,implement tiappxml validation,as an example see httpdeveloperappceleratorcom...,1,appceleratorstudio
1,420,440,TISTUD-1523,fail jenkins build if studio contains jdt plugins,as a way of keeping ourselves from accidentall...,8,appceleratorstudio
2,595,616,TISTUD-1870,content assist for in js files,as an example code code you would then define ...,8,appceleratorstudio
3,2547,2590,TISTUD-7210,create release notes provider for appcelerator...,as access to changelogmd will be restricted fo...,5,appceleratorstudio
4,3434,3526,APSTUD-4944,jslint inside aptana runs far slower than on t...,as a check time the approximate time it takes ...,8,aptanastudio

In [24]:
df1 = df1.drop(['Unnamed: 0', 'Unnamed: 0.1','issuekey', 'title','project'], axis=1)
df1.head()

                                         description  storypoint
0  as an example see httpdeveloperappceleratorcom...           1
1  as a way of keeping ourselves from accidentall...           8
2  as an example code code you would then define ...           8
3  as access to changelogmd will be restricted fo...           5
4  as a check time the approximate time it takes ...           8

"user story 1" dataset

In [25]:
import chardet
data_path = 'dataset/user story 1.csv'


with open(data_path, 'rb') as f:
    result = chardet.detect(f.read())
    
df2 = pd.read_csv(data_path, encoding=result['encoding'])
df2.head()

,issuekey,title,description,storypoint
0,RAXMNYCR-362,API Publicizing,"As the central admin, I was the existing APIs ...",8.0
1,RAXMNYCR-363,BD Ticket - Menu Changes,"As a general user, I want the existing menu vi...",3.0
2,RAXMNYCR-367,App Switching - Web page to Mobile homepage,"As a general user, I want a button in the web...",5.0
3,RAXMNYCR-385,Calculation for Utility payments,"As a Distributor, I want to automatically rece...",13.0
4,RAXMNYCR-388,Logic calculation - Train Ticket purchasing,"As a Distributor, I want to automatically rece...",8.0

In [26]:
df2 = df2.drop(['issuekey', 'title'], axis=1)
df2.head()

                                         description  storypoint
0  As the central admin, I was the existing APIs ...         8.0
1  As a general user, I want the existing menu vi...         3.0
2   As a general user, I want a button in the web...         5.0
3  As a Distributor, I want to automatically rece...        13.0
4  As a Distributor, I want to automatically rece...         8.0

"user story 2" data set

In [28]:
data_path = 'dataset/user story 2.csv'
df3= pd.read_csv(data_path)
df3.head()

                                         description  storypoint
0  As a customer, I want to track my order, so th...           5
1  As a user, I want to change my email, so that ...           3
2  As a patient, I want to book an appointment, s...           8
3  As a team member, I want to upload files, so t...           5
4  As a job applicant, I want to submit my applic...           2

In [39]:
result = pd.concat([df1, df2, df3])

# print the concatenated data frame
print(result)

                                          description  storypoint
0   as an example see httpdeveloperappceleratorcom...         1.0
1   as a way of keeping ourselves from accidentall...         8.0
2   as an example code code you would then define ...         8.0
3   as access to changelogmd will be restricted fo...         5.0
4   as a check time the approximate time it takes ...         8.0
..                                                ...         ...
77  As a doctor, my goal is to provide accurate di...         8.0
78  As an accountant, my goal is to maintain accur...         5.0
79  As a marketer, my goal is to optimize marketin...         8.0
80  As a project manager, my goal is to meet proje...         5.0
81  As a recruiter, my goal is to attract top tale...         5.0

[976 rows x 2 columns]

Preprocess data set

In [40]:
null_counts = result.isnull().sum()
# Print the null counts
print(null_counts)

description    1
storypoint     1
dtype: int64

In [41]:
result.dropna(inplace=True)
result['storypoint'] = result['storypoint'].astype(int)
result.head()

                                         description  storypoint
0  as an example see httpdeveloperappceleratorcom...           1
1  as a way of keeping ourselves from accidentall...           8
2  as an example code code you would then define ...           8
3  as access to changelogmd will be restricted fo...           5
4  as a check time the approximate time it takes ...           8

In [42]:
result['description'] = result['description'].apply(lambda x: x.lower())
result.head()

                                         description  storypoint
0  as an example see httpdeveloperappceleratorcom...           1
1  as a way of keeping ourselves from accidentall...           8
2  as an example code code you would then define ...           8
3  as access to changelogmd will be restricted fo...           5
4  as a check time the approximate time it takes ...           8

In [43]:
result['description'] = result['description'].apply(lambda x: remove_html(x))
result.head()

                                         description  storypoint
0  as an example see httpdeveloperappceleratorcom...           1
1  as a way of keeping ourselves from accidentall...           8
2  as an example code code you would then define ...           8
3  as access to changelogmd will be restricted fo...           5
4  as a check time the approximate time it takes ...           8

In [44]:
result['description'] = result['description'].apply(lambda x: remove_url(x))
result.head()

                                         description  storypoint
0  as an example see httpdeveloperappceleratorcom...           1
1  as a way of keeping ourselves from accidentall...           8
2  as an example code code you would then define ...           8
3  as access to changelogmd will be restricted fo...           5
4  as a check time the approximate time it takes ...           8

In [45]:
result['description'] = result['description'].apply(lambda x: remove_punctuations(x))
result.head()

                                         description  storypoint
0  as an example see httpdeveloperappceleratorcom...           1
1  as a way of keeping ourselves from accidentall...           8
2  as an example code code you would then define ...           8
3  as access to changelogmd will be restricted fo...           5
4  as a check time the approximate time it takes ...           8

In [46]:
result['description'] = result['description'].apply(lambda x: remove_emoji(x))
result.head()

                                         description  storypoint
0  as an example see httpdeveloperappceleratorcom...           1
1  as a way of keeping ourselves from accidentall...           8
2  as an example code code you would then define ...           8
3  as access to changelogmd will be restricted fo...           5
4  as a check time the approximate time it takes ...           8

In [47]:
result['description'] = result['description'].apply(lambda x: white_space(x))
result.head()

                                         description  storypoint
0  as an example see httpdeveloperappceleratorcom...           1
1  as a way of keeping ourselves from accidentall...           8
2  as an example code code you would then define ...           8
3  as access to changelogmd will be restricted fo...           5
4  as a check time the approximate time it takes ...           8

In [48]:
stop_words = set(stopwords.words('english'))
result['description'] = result['description'].apply(lambda x: " ".join([word for word in str(x).split() if word not in stop_words or word.startswith('a')]))
result.head()

                                         description  storypoint
0  as an example see httpdeveloperappceleratorcom...           1
1  as a way keeping accidentally releasing jdt wi...           8
2  as an example code code would define a control...           8
3  as access changelogmd restricted appccli proje...           5
4  as a check time approximate time takes lint ex...           8

In [50]:
from sklearn.model_selection import train_test_split
# split the dataset into train, validation, and test sets
train_val, test = train_test_split(result, test_size=0.2, random_state=42)
train, val = train_test_split(train_val, test_size=0.25, random_state=42)

# assign the split marks
train['split_mark'] = 'train'
val['split_mark'] = 'val'
test['split_mark'] = 'test'

# concatenate the split datasets
result = pd.concat([train, val, test], ignore_index=True)
result.head()

                                         description  storypoint split_mark
0  as a user want configure docker xd containers ...           8      train
1  as a developer id like a job module bootstrapp...           8      train
2  as a developer id like create a endtoend kafka...           3      train
3  as an scd user id like refer documentation dir...           2      train
4  as a qa id like include acceptance test covera...           5      train

In [51]:
save_path = 'dataset/result.csv' 
result.to_csv(save_path,index=False)